<div class="row" id="add">&nbsp</div>
<div class="row">
    <div class="col-lg-2 col-xs-12">
        <button type="button" class="btn btn-lg btn-primary" ng-click="status.show = !status.show">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
    </div>
</div>
<br>
<div flow-object="FlowObject" flow-init flow-file-added="checkFile($file)" flow-files-submitted="flowSubmit()"  flow-file-success="upSuccess($file, $message)" flow-complete="complete()">
    <div class="row-fluid" ng-show="status.show">
        <div class="well">
            <div class="row" ng-show="addError.error && !status.loading">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <button type="button" class="close" ng-click="addError.error = false; addError.message = '';"><span aria-hidden="true">&times;</span></button>
                    <strong>{{addError.message}}</strong>
                </div>
            </div>
            <div class="row" ng-show="status.saved && !status.loading">
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" ng-click="status.saved = false;"><span aria-hidden="true">&times;</span></button>
                    <strong>Saved</strong>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="row">
                    <ul class="col-sm-offset-1 col-xs-8 nav nav-pills" ng-disabled="FlowObject.isUploading()">
                        <li ng-class="{active : status.link}" ng-click="showLink(true); cancel()" role="presentation">
                            <a href="">
                                <h4>Link</h4>
                            </a>
                        </li>
                        <li role="presentation" ng-class="{active : !status.link}"  flow-btn>
                            <a href="" ng-click="showLink(false); cancel()">
                                <h4 ng-show="FlowObject.isUploading()">
                                    <i class="fa fa-spinner fa-spin" ></i>
                                    Uploading
                                </h4>
                                <h4 ng-show="!FlowObject.isUploading()">
                                    Upload
                                </h4>
                            </a>
                        </li>
                    </ul>
                </div>

                <br>

                <div class="row" ng-show="!status.link">
                    <div class="col-sm-offset-1">
                        <button type="button"  class="btn btn-lg btn-danger" ng-click="cancel()"  ng-show="FlowObject.isUploading()">
                            Cancel
                        </button>
                        <div ng-show="uploadData.fileSuccess">
                            <img class="img-responsive img-klymr hidden-xs" flow-img="$flow.files[0]">
                            <h4>{{uploadData.fileName}} uploaded!</h4>
                        </div>
                        <div ng-show="!uploadData.fileSuccess && uploadData.valid && !FlowObject.isUploading() && !status.saved"><h4>No File</h4></div>
                        <div ng-show="!uploadData.valid"><h4>File invalid</h4></div>
                    </div>
                </div>

                <br ng-show="!status.link">

                <div class="row">
                    <div class="form-group" ng-show="status.link">
                        <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                            <input type="text" class="form-control input-lg" placeholder="URL" ng-disabled="status.loading" ng-model="formData.url">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                            <textarea class="form-control input-lg" rows="3" placeholder="Description" ng-model="formData.desc" ng-disabled="status.loading"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                            <button type="submit" class="btn btn-lg btn-default center-block" ng-disabled="status.loading || FlowObject.isUploading()" ng-click="submit();">
                                <i class="fa fa-spinner fa-spin" ng-show="status.loading"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
