<div class="row" id="browse">&nbsp</div>
<div class="row">
    <div class="col-lg-8 col-xs-12">
        <input ng-keyup="$event.keyCode == 13 && goToTags(rqString)" id="st" type="text" class="form-control input-lg" placeholder="Enter tags..." ng-model="rqString">
    </div>

    <div class="col-xs-12 hidden-lg">&nbsp</div>

    <div class="col-lg-4 col-xs-12">
        <div class="btn-group btn-group-lg col-xs-5" role="group">
            <button type="button" class="btn btn-lg btn-home-nav" ng-click="home();">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-lg btn-home-nav" ng-click="reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
        </div>
        <h3 class="col-xs-7 text-center visible-lg">
            <span ng-show="tagsReady && urlsReady">{{maxSize.tags}} / {{maxSize.images}}</span>
            <i class="fa fa-refresh fa-spin" ng-hide="tagsReady && urlsReady"></i>
        </h3>
        <h4 class="col-xs-7 text-center hidden-lg">
            <span ng-show="tagsReady && urlsReady">{{maxSize.tags}} / {{maxSize.images}}</span>
            <i class="fa fa-refresh fa-spin" ng-hide="tagsReady && urlsReady"></i>
        </h4>
    </div>
</div>

<div class="row">
    <h1 class="hidden-xs">
        <ul class="breadcrumb" ng-hide="!imageData.rqTags.length">
            <li ng-repeat="tag in imageData.rqTags track by $index">
                <a href="" class="tag-link" ng-click="rqSlice($index)">
                    <strong>{{tag}}&nbsp&nbsp</strong>
                </a>
            </li>
        </ul>
    </h1>
    <h3 class="well visible-xs" ng-hide="!imageData.rqTags.length">
        <a href="" class="tag-link" ng-click="rqSlice($index)" ng-repeat="tag in imageData.rqTags track by $index">
            <strong>{{tag}}&nbsp</strong>
        </a>
    </h3>
</div>

<hr ng-show="!imageData.rqTags.length">

<div class="row">

    <div class="col-xs-5">
        <div  ng-show="(maxSize.tags > tagPageSize) && tagsReady && urlsReady">
            <span class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-home-arrow" ng-click="lastTagPage()" ng-disabled="tagPageNumber == 1">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-lg btn-home-arrow" ng-click="nextTagPage()" ng-disabled="(tagPageNumber*tagPageSize >= maxSize.tags)">
                    <span class="glyphicon glyphicon-chevron-right" ng-hide="tagsLoading" aria-hidden="true"></span>
                    <i class="fa fa-spinner fa-spin" ng-show="tagsLoading"></i>
                </button>
            </span>
        </div>

    </div>

    <div class="col-xs-7">
            <div class="pull-right">
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-lg btn-home-nav" ng-click="toggleTagSort()">
                        <i class="fa fa-slack"></i> {{sort.tags}}
                    </button>
                    <button class="btn btn-lg btn-home-nav" ng-click="toggleUrlSort()">
                        <i class="fa fa-picture-o"></i> {{sort.urls}}
                    </button>
                </div>
        </div>
    </div>
</div>


<div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tag-container" ng-repeat="tag in getTagSlice()">
            <a class="btn tag-link" ng-click="addTag(tag)" ng-show="tagsReady && urlsReady">
                    <h3><strong>{{tag}}</strong></h3>
            </a>
            <a class="btn" href="" ng-hide="tagsReady && urlsReady">
                <h3><strong>&nbsp</strong></h3>
            </a>
        </div>
</div>

<br>


<div class="row" >
    <div infinite-scroll="moreUrls()" infinite-scroll-distance="1"  infinite-scroll-disabled="!urlsReady || urlsLoading || mobile">
        <div ng-repeat="image in imageData.images track by $index">
            <div ng-if="$index % 3 == 0" class="clearfix visible-md"></div>
            <div ng-if="$index % 2 == 0" class="clearfix visible-sm"></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb" >
                <div class="thumbnail" ng-show="tagsReady && urlsReady" >
                    <img class="img-responsive img-klymr" ng-src="{{image.imageUrl}}" alt="" ng-click="openImage($index, image.id)" ng-attr-id="{{$index}}">
                    <div class="caption hidden-lg" ng-show="expand[image.id]">
                        <a class="cap-link" target="_blank" ng-href="{{getHref(image)}}">
                            <h3>
                                <strong>
                                <span ng-repeat="tag in image.tags">
                                    {{tag}}
                                </span>
                                </strong>
                            </h3>
                            <p class="desc-edit" ng-hide="info.image.extUrl || edit[image.id]" >
                                {{image.desc}}
                            </p>
                        </a>

                        <textarea ng-show="edit[image.id]" rows="3" class="form-control desc-edit" ng-model="newDesc[image.id]"></textarea>
                        <br ng-show="edit[image.id]">
                        <div class="btn-group btn-group-justified" ng-hide="edit[image.id] || changeLoading" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger" ng-disabled="changeLoading" ng-click="delete(image.id)">Delete</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" ng-disabled="changeLoading" ng-click="startEdit(image.id, image.desc)">Edit</button>
                            </div>
                        </div>
                        <div class="btn-group btn-group-justified" ng-show="edit[image.id] && !changeLoading" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="endEdit(image.id)">Cancel</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success" ng-click="update(image.id, newDesc[image.id]); endEdit(image.id)">Done</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-hide="tagsReady && urlsReady" class="img-load"></div>
            </div>
        </div>

        <div style='clear: both;'></div>
    </div>
</div>

<div class="dim" ng-show="changeLoading">
    <div class="vertical-center">
        <h1>
            <i class="fa fa-refresh fa-spin"></i>
        </h1>
    </div>
</div>

<div class="row">
    <div class="btn-group btn-group-lg btn-group-justified hidden-lg" ng-hide="urlsLoading || (imageData.images.length == maxSize.images)" role="group">
        <a class="btn btn-lg btn-primary" href="" ng-click="moreUrls()">
            <h3>
                Load More
            </h3>
        </a>
    </div>
    <div class="text-center" ng-hide="tagsReady && urlsReady && (!urlsLoading)">
        <h2>
            <i class="fa fa-spinner fa-spin" ></i>
        </h2>
    </div>
</div>
