<button id="FBLogin" type="button" style="border-radius: 0" class="btn btn-lg btn-primary btn-block" ng-click="login()">
    <h1>
        <i class="fa fa-facebook-square"></i> Login
    </h1>
</button>

<div id="Tour" class="carousel slide hidden-xs" data-interval="false" data-ride="carousel" style="margin-bottom: 0;" ng-non-bindable>
    <div class="row">
        <ol class="carousel-indicators">
            <li data-target="#Tour" data-slide-to="0" class="active"></li>
            <li data-target="#Tour" data-slide-to="1"></li>
            <li data-target="#Tour" data-slide-to="2"></li>
            <li data-target="#Tour" data-slide-to="3"></li>
        </ol>
    </div>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <img class="center-block img-responsive" src="../../images/image.png">
                    <h1>
                        <span class="landing-header">Semantic Image Management</span>
                        <br>
                        <span class="landing-info">Klymr analyzes captions to help store images</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption img-responsive">
                    <img class="center-block" src="../../images/folder.png">
                    <h1>
                        <span class="landing-header">Dynamic Directories</span>
                        <br>
                        <span class="landing-info">Klymr optimizes image retrieval by using hashtags to create directories</span>
                    </h1>

                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption img-responsive">
                    <img class="center-block" src="../../images/cloud.png">
                    <h1>
                        <span class="landing-header">Cloud Based</span>
                        <br>
                        <span class="landing-info">Klymr runs in the cloud, so content is available on all devices</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption img-responsive">
                    <img class="center-block" src="../../images/lock.png">
                    <h1>
                        <span class="landing-header">Private</span>
                        <br>
                        <span class="landing-info">Your images aren't viewable to the public</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#Tour" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Tour" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="Beta" class="alert alert-danger" style="margin: 0; border-radius: 0" role="alert">
    <h3 class="text-center">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <br class="visible-xs">
        <strong>Klymr is in closed beta. Contact the developer for beta access and/or source code access.</strong>
    </h3>
</div>
<div id="Stack" class="container marketing">
    <div class="visible-xs">

        <div class="row featurette">
            <img class="center-block" src="../../images/image.png">
            <h1 class="text-center">
                <span class="landing-header">Semantic Image Management</span>
                <br>
                <span class="landing-info">Klymr analyzes captions to help store images</span>
            </h1>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <img class="center-block" src="../../images/folder.png">
            <h1 class="text-center">
                <span class="landing-header">Dynamic Directories</span>
                <br>
                <span class="landing-info">Klymr optimizes image retrieval by using hashtags to create directories</span>
            </h1>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <img class="center-block" src="../../images/cloud.png">
            <h1 class="text-center">
                <span class="landing-header">Cloud Based</span>
                <br>
                <span class="landing-info">Klymr runs in the cloud, so content is available on all devices</span>
            </h1>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <img class="center-block" src="../../images/lock.png">
            <h1 class="text-center">
                <span class="landing-header">Private</span>
                <br>
                <span class="landing-info">Your images aren't viewable to the public</span>
            </h1>
        </div>

        <hr class="featurette-divider">

    </div>

    <h1 class="text-center">Built On:</h1>

    <hr class="featurette-divider">

    <div class="row featurette">
        <img class="featurette-image img-responsive center-block" src="../../images/bootstrap.jpg">
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <img class="featurette-image img-responsive center-block" style="width: 700px; height: 400px" src="../../images/angular.jpeg">
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <img class="featurette-image img-responsive center-block" src="../../images/spring.jpg">
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <img class="featurette-image img-responsive center-block" src="../../images/elasticsearch.png">
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <img class="featurette-image img-responsive center-block" src="../../images/aws.png">
    </div>

</div>