<div class="modal-header">
    <div class="btn-group hidden-xs pull-right" role="group">
        <button class="btn btn-lg btn-modal-nav" ng-click="left()"  ng-disabled="(info.index == 0) || isLoading() || info.isEditing" >
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <button class="btn btn-lg btn-modal-nav" ng-click="right()" ng-disabled="(info.index == maxsize.images - 1) || isLoading() || info.isEditing">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>
    <h3 class="modal-title" ng-hide="loading.img">
        <span ng-repeat="tag in info.image.tags">
            <a href="" ng-click="goToTag(tag)" class="black-link">{{tag}}</a>
        </span>
    </h3>
</div>
<div class="modal-body" ng-keypress="handleKey($event)">
    <div class="hidden-xs">
        <img class="img-responsive center-block" ng-src="{{info.image.imageUrl}}" alt="" ng-click="right()" ng-disabled="(info.index == maxsize.images - 1) || isLoading() || info.isEditing" ng-if="!info.image.embedUrl">
        <iframe style="max-width: 100%" class="center-block" ng-if="info.image.embedUrl" width="480" height="320" ng-src="{{info.image.embedUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <div>
        <div ng-show="loading.img" class="text-center">
            <h3>
                <i class="fa fa-spinner fa-spin"></i>
            </h3>
        </div>
        <a ng-href="{{info.image.extUrl}}" ng-hide="!info.image.extUrl || loading.img || info.isEditing" target="_blank" class="modal-desc black-link">{{info.image.desc}}</a>
        <p ng-hide="info.image.extUrl || loading.img || info.isEditing" class="modal-desc ">{{info.image.desc}}</p>
        <textarea ng-show="info.isEditing" rows="3" class="form-control desc-edit" ng-model="info.newDesc" ></textarea>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-lg-2">
            <button class="btn btn-danger pull-left" ng-click="deleteImage(info.image.id)" ng-disabled="isLoading() || info.isEditing">
                <i class="fa fa-spinner fa-spin" ng-show="loading.del"></i>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>

        <div class="col-lg-8">
            <div class="text-center">
                {{info.index + 1}}/{{maxsize.images}}
            </div>
        </div>

        <div class="col-lg-2">
            <i ng-show="loading.edit" class="fa fa-spinner fa-spin"></i>
            <button class="btn btn-default" ng-show="!info.isEditing" ng-click="startEdit()" ng-disabled="isLoading()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <div class="btn-group" ng-show="info.isEditing" role="group">
                <button type="button" class="btn btn-default" ng-disabled="loading.edit" ng-click="updateImage(info.image.id, info.newDesc)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="loading.edit" ng-click="endEdit()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>

    </div>

</div>
