<div class="well row">
    <div class="col-xs-2">
        <button type="button" class="btn btn-lg btn-home-nav" ng-click="settings.toggleMode()">
            <span ng-show="settings.mode == 'Q'" class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <span ng-show="settings.mode == 'L'" class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-xs-10" ng-show="settings.mode == 'Q'">
        <input style="margin-left: 10px" ng-keyup="$event.keyCode == 13 && settings.getQuery(query)" id="st" type="text" class="form-control input-lg" ng-model="query">
    </div>
    <div class="col-xs-10" ng-show="settings.mode == 'L'">
        <h4 class="pull-right">
            Recent Likes
        </h4>
    </div>
</div>

<div infinite-scroll="settings.getPages()" infinite-scroll-distance="1" infinite-scroll-disabled="settings.isLoading || settings.done" ng-hide="settings.isLoading">
    <div ng-repeat="like in settings.likes track by $index">
        <form  ng-hide="settings.isAdded(like.channelId)">
            <h2>
                <i class="fa fa-refresh fa-spin" ng-show="settings.isAdding(like.channelId)"></i>
                {{like.name}}
            </h2>
            <input type="text" id="st{{$index}}" ng-keyup="$event.keyCode == 13 && settings.add(like, $index)"  class="form-control input-lg" placeholder="Enter desc" ng-model="like.desc">
        </form>
    </div>
</div>

<br>

<div class="text-center">
    <i class="fa fa-refresh fa-spin spin-abyss" ng-show="settings.isLoading"></i>
</div>