<br>

<div class="row">
    <div class="col-md-11">
        <select  ng-init="abyss.chan = abyss.channels[0]"  ng-model="abyss.chan" class="form-control input-dxl" ng-change="abyss.done = false; abyss.getImages()" ng-options="x as x.name for x in abyss.channels track by x.id">
        </select>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-1 rate">
        <input ng-keyup="$event.keyCode == 13 && abyss.update()" ng-hide="abyss.pageLoad" type="text" class="form-control input-dxl" ng-model="abyss.chan.rate" ng-model="rqString">
        <h4 ng-show="abyss.pageLoad">
            <i class="fa fa-refresh fa-spin spin-abyss" ></i>
        </h4>
    </div>
</div>

<br>

<div class="row" ng-hide="abyss.imageLoad">
    <div ng-repeat="image in abyss.images track by $index">
        <div ng-if="$index % 2 == 0" class="clearfix"></div>
        <div class="col-lg-6 thumb" >
            <div class="thumbnail">
                <div ng-include="'html/abyss/image.html'" style="position: relative"></div>
            </div>
        </div>
    </div>
</div>

<div class="text-center" ng-show="abyss.imageLoad">
    <i class="fa fa-refresh fa-spin spin-abyss"></i>
</div>