<div class="caption" style="display:block">
    <textarea rows="1" ng-class="{saved: abyss.isSaved(image.obid)}" class="form-control input-lg input-abyss ta-abyss plain" ng-model="image.desc" ng-disabled="abyss.isLoading"></textarea>
</div>

<div class="hidden-xs">
    <div class="cover-abyss cover-abyss-lg" ng-show="abyss.isSaving(image.obid)">
        <p class="text-center">
            <i  class="fa fa-refresh fa-spin text-center"></i>
        </p>
    </div>

    <img class="img-responsive img-abyss"  ng-src="{{image.urls[0]}}" alt="" ng-click="abyss.save(image, $index)" ng-disabled="abyss.isLoading">
</div>


<div class="visible-xs">
    <div class="cover-abyss cover-abyss-sm" ng-show="abyss.isSaving(image.obid)">
        <p class="text-center">
            <i  class="fa fa-refresh fa-spin text-center"></i>
        </p>
    </div>

    <img class="img-responsive img-abyss-sm visible-xs"  ng-src="{{image.urls[0]}}" alt="" ng-click="abyss.save(image, $index)" ng-disabled="abyss.isLoading">
</div>


