<nav  class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-right">
            <button class="btn btn-lg btn-default btn-abyss-nav pull-right" type="button" ng-click="nvb.toggle()">
                <i  class="fa fa-wrench" ng-show="nvb.home"></i>
                <i class="fa fa-home" ng-show="!nvb.home"></i>
            </button>
        </div>
    </div>
</nav>