<div class="text-center">
    <i class="fa fa-refresh fa-spin spin-abyss" ng-show="settings.isLoading || settings.isQuiet"></i>
</div>

<div infinite-scroll="settings.more()" infinite-scroll-distance="1" infinite-scroll-disabled="settings.isLoading || settings.done">

    <div ng-repeat= "chan in settings.likes">
            <button class="btn btn-lg remove-channel" ng-click="settings.remove(chan)">
                <i class="fa fa-refresh fa-spin" ng-show="settings.isRemoving(chan.id)"></i>
                {{chan.name}}
            </button>
        <input type="text" ng-disabled="settings.isLoading || settings.isQuiet" id="st{{$index}}" ng-keyup="$event.keyCode == 13 && settings.update(chan, $index)"  class="form-control input-lg" placeholder="Enter desc" ng-model="chan.desc">
    </div>

</div>

