<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a ui-sref="abyss.settings.add"><h2>Add Page</h2></a></li>
        <li role="presentation"><a ui-sref="abyss.settings.remove"><h2>Manage Pages</h2></a></li>
    </ul>
    <br>
    <div ui-view></div>
</div>
