img.img-abyss {
    width: 600px;
    height: 600px;
}

img.img-abyss-sm {
    width: 600px;
    height: 300px;
}

textarea.input-abyss, p.save-abyss {
    font-size:30px;
    box-shadow: none;
    border:0;
    max-width: 100%;
}

button.btn-abyss {
    font-size: 40px;
}

button.btn-abyss-nav {
    font-size:40px;
    background:none;
    border:none;
    box-shadow:none;
}

div.cap-abyss {
    overflow: hidden;
}

.cover-abyss {
    position:absolute;
    background-color:rgba(255, 255, 255, 0.5);
    z-index: 1;
    max-width: 100%;
    display: block;
    height: auto;
    padding: 0;
    font-size: 30px;
}

.cover-abyss.cover-abyss-lg {
    width: 600px;
    height: 600px;
}

.cover-abyss.cover-abyss-sm {
    width: 600px;
    height: 300px;
}

i.spin-abyss {
    font-size: 50px;
}

select.input-dxl, input.input-dxl {
    font-size: 24px;
    height: 66px;
    line-height: 66px;
}

button.btn-dxl {
    font-size: 16px;
    height: 66px;
}

button.btn-dxl + button.btn-dxl{
    margin-top: 0;
}

div.rate{
    padding-right: 0;
}

div.rate input{
    border-radius: 0;
}

div.pause{
    padding-left: 0;
}

div.pause button{
    border-radius: 0;
}

.saved{
    color: green;
}