html, body{
    height: 100%;
}

.wide {
    width:100%;
    height:25%;
}

.wide img {
    width:100%;
}

.klymr {
    background-image:url('images/KLYMR-HEADER.png');
    background-size:cover;
}

.abyss {
    background-image:url('images/ABYSS-HEADER.png');
    background-size:cover;
}