img.img-klymr {
    width: 300px;
    height: 300px;
}

button.btn-modal-nav{
    background-color:white;
    outline: 0;
}

button.btn-home-nav{
    outline: 0;
    box-shadow: none;
}

button.btn-home-arrow{
    background-color:white;
    outline: 0;
}

h3.modal-title{
    word-wrap: break-word;
}

a.black-link{
    text-decoration: none;
    color: black
}

a.modal-desc, p.modal-desc{
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 20px;
}

textarea.desc-edit, p.desc-edit, a.desc-edit{
    font-size: 20px;
}

a.tag-link{
    text-decoration: none;
    color: #2f70a8;
}

a.tag-link:hover {
    color: #2f70a8;
}

div.tag-container{
    overflow: hidden;
    white-space: nowrap;
}

a.cap-link{
    text-decoration: none;
    color:#333333;
}

div.img-load{
    width: 300px;
    height: 300px;
}


span.landing-header{
    font-size: 150%;
}

span.landing-info{
    font-size: 75%;
}

