<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Klymr</title>

        <link href="lib/css/bootstrap.css" rel="stylesheet">
        <link href="lib/css/bootstrap-theme.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="lib/css/signin.css" rel="stylesheet">
        <link href="lib/css/carousel.css" rel="stylesheet">
        <link href="css/header.css" rel="stylesheet">
        <link href="css/abyss.css" rel="stylesheet">
        <link href="css/klymr.css" rel="stylesheet">
        <link href="css/base.css" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="lib/css/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="lib/css/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="lib/css/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="lib/css/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="lib/css/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="lib/css/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="lib/css/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="lib/css/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="lib/css/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="lib/css/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="lib/css/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="lib/css/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="lib/css/images/favicon-16x16.png">
        <link rel="manifest" href="lib/css/images/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="lib/js/ng-flow-standalone.js"></script>
        <script src="lib/js/angular-ui-router.js"></script>
        <script src="lib/js/ui-bootstrap-tpls-0.13.0.js"></script>
        <script src="lib/js/ng-infinite-scroll.js"></script>
        <script src="lib/js/match-media.js"></script>
        <script src="js/app.js"></script>
        <script src="js/klymr.js"></script>
        <script src="js/abyss.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
    </head>

    <body ng-app="myApp" style="margin:0;padding:0">
        <div ng-controller="HeaderController as header" class="wide" ng-class="{ klymr : header.pepe, abyss : !header.pepe}" ng-click="header.toggle()">
            <div class="klymr"></div>
        </div>

        <div ui-view="content"></div>

        <div class="container">
            <hr>

            <footer>
                <p>&copy; 2016 Klymr</p>
            </footer>
        </div>
    </body>

</html>